Repository devopsdays-es/devopsdays-caceres-gallery, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, tests, documentation, dependencies, infra, photos

feat: add 2020 photo for testing purposes
  .pre-commit-config.yaml
  devopsdays-photos/2020/gallery.json
Labels: none

fix: add checkout before labeling
  .github/workflows/labeler.yml
Labels: ci

fix: add missing pull-request write permissions
  .github/workflows/labeler.yml
Labels: ci

fix: lint command from root folder
  .pre-commit-config.yaml
  package.json
Labels: dependencies

fix: lint issues, do it from root folder
  .github/workflows/pre-commit.yml
  infra/app.ts
  infra/package.json
  infra/test/infra.test.ts
  infra/yarn.lock
  package.json
  yarn.lock
Labels: ci, dependencies, infra

fix: try to fix filter
  .github/workflows/pre-commit.yml
Labels: ci

fix: remove try to filter checkout
  .github/workflows/pre-commit.yml
Labels: ci

fix: missing eslint reference to config file
  .eslintrc.js
Labels: none

.github/labeler.yml:

---
ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/*
    - .github/**/*

tests:
- changed-files:
  - any-glob-to-any-file:
    - test

documentation:
- changed-files:
  - any-glob-to-any-file:
    - ./*.md
    - docs/*
    - docs/**/*

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - package.json
    - infra/package.json

infra:
- changed-files:
  - any-glob-to-any-file:
    - infra/*

photos:
- changed-files:
  - any-glob-to-any-file:
    - devopsdays-photos/*
